@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.quizSection{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    background: #111;
    color: #b2b2b2;
    box-shadow: 1px 2px 6px 1px #555;
}
li{
   align-items: center;
    border: 1px solid #555;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    list-style: none;
    width: 250px;
    font-size: 13px;
}
h2{
    font-size: 20px;
}
.result{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #b2b2b2;
    width: 350px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    border-radius: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    color: #b2b2b2;
}
  
button{
    background: orange;
    padding: 8px;
    width: 100px;
    border-radius: 30px;
    border: 1px rgb(177, 0, 0);
    margin-top: 20px;
    box-shadow: 1px 1px 3px 1px #555;
    align-items: center;
}
button:hover{
    background: rgb(255, 145, 0);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;

}